{% extends 'target-free-admin-template/base.html' %}
{% load static %}
{% block content %}
<!-- /. NAV SIDE  -->
<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">
      Add Products
    </h1>

    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Product</a></li>
      <li class="active">Add</li>
    </ol>

  </div>

  <div id="page-inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-action">
            Product Details
          </div>
          <div class="card-content">


            <div>
              <h2>Add Product</h2>
              <p><br>
              <form enctype="multipart/form-data" action="/vendor/add_images?productid={{productid}}" method="POST">
                {% csrf_token %}
                <p>
                  {% for image in prductimage %}
                  <label>Product Img</label>

                  <input type="file" name="image" class="span3" accept="image/*">
                <p>
                  <input type="hidden" name="product_id" value="{{productid}}" class="span3">

                <p>
                  <br>


                  <button type="submit" class="btn main-btn pull-left">Add Image</button>

                <div class="clearfix"></div>
                {% endfor %}
              </form>
            </div>
            <h4>
              <center>
                <font color="green">
                  {% if messages %}
                  {% for message in messages %}
                  {{message}}
                  {% endfor %}
                  {% endif %}</font>
              </center>
            </h4>
            <div>
              {% for img in productid_image %}
              {% if img.image.url %}
              <label><img src="../../{{img.image.url}}" height="200" width="150">
                <p>
                  <center><a href="/vendor/delete_image?imid={{img.id}}&pid={{img.product_id}}">Delete</a></center>
                </p>
              </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% endif %}
              {% endfor %}

            </div>

          </div>



          <div class="clearBoth"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- /.col-lg-12 -->

</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

{% endblock %}