{% extends 'target-free-admin-template/base.html' %}
{% load static %}
{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header">
                        <h1 class="page-header">
                             Add Products
                        </h1>
               <h4><center><font color = "green">
                {% if messages %}
                {% for message in messages %}
            {{message}}
                   {% endfor %}
                 {% endif %}</font></center></h4>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Product</a></li>
					  <li class="active">Add</li>
					</ol>

		</div>

            <div id="page-inner">
			 <div class="row">
			 <div class="col-lg-12">
			 <div class="card">
                        <div class="card-action">
                            Product Details
                        </div>
                        <div class="card-content">
                          <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css"> -->
<!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div>
    <h2>Add Product</h2>
    <p><br>
    <form enctype="multipart/form-data" action = "/vendor/product_add" method = "POST">
      {% csrf_token %}
      <p>
    <label>Product Name</label>
    <input type="text" name="productname" class="span3" required><p>
    <label>Product Price</label>
    <input type="text" name="productprice" class="span3" required><p>
    <label>Product Img</label>
    <input type="file" name="productimg" class="span3" required><p>
    <label>description</label>
   <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<textarea cols="200" id="editor1" name="description" rows="10"></textarea>
<script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js"></script>
<script>
CKEDITOR.replace('editor1', {
  fullPage: true,
  extraPlugins: 'docprops',
  // Disable content filtering because if you use full page mode, you probably
  // want to  freely enter any HTML content in source mode without any limitations.
  allowedContent: true,
  height: 320
});
</script>
<label>Category</label>
    <select class="form-select" name = "category" aria-label="Default select example">
    
      {% for cat in categories %}
      
      <option value="{{cat.id}}">{{cat.category}}</option>
      {% endfor %}
    </select>
    <input name = "vendor_user_name" type = "hidden" value = "{{user.username}}" required>
    <br><br><br>
    <button type="submit" class="btn main-btn pull-left">Add Product</button>
    
    <div class="clearfix"></div>
    </form>
</div>

    
        </div>

   

	<div class="clearBoth"></div>
  </div>
    </div>
 </div>
	 </div>

                <!-- /.col-lg-12 -->

			</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->

 {% endblock %}