{% extends 'target-free-admin-template/base.html' %}
{% load static %}
{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header">
                        <h1 class="page-header">
                             Edit Products
                        </h1>
               <h4><center><font color = "green">{% for message in messages %}
            {{message}}
                   {% endfor %}</font></center></h4>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Product</a></li>
					  <li class="active">Edit</li>
					</ol>

		</div>

            <div id="page-inner">
			 <div class="row">
			 <div class="col-lg-12">
			 <div class="card">
                        <div class="card-action">
                            Product Details
                        </div>
                        <div class="card-content">
    <form class="col s12" enctype="multipart/form-data" action = "/vendor/product_edit" method = "POST">
        {% csrf_token %}
        {% for product in edit_product %}
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" name = "productname" value = "{{product.productname}}" id="first_name" type="text" class="validate" required>
          <label for="first_name">Product Name</label>
        </div>
        <div class="input-field col s6">
          <input id="productprice" type="number" class="validate" name = "productprice" value = {{product.productprice}} required>
          <label for="productprice">Price</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="productimg" type="file" class="validate" name = "productimg">
            <img src = "../{{product.productimg.url}}" height = "100" width = "100">
          <label for="productimg">Image</label>
            <input name="change_img" type="checkbox" id="test2" />
      <label for="test2">Change Image</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">

								  <textarea id="textarea1" class="materialize-textarea" name = "description" value = {{product.productdescription}}>{{product.productdescription}}</textarea>
								  <label for="textarea1">Textarea</label>

								</div>
        <input id="productimg" type="hidden" class="validate" name = "id" required value = {{product.id}}>
      </div>
        <div class="row">

    <button type="submit" class="btn main-btn pull-right">Update Product</button>
        </div>
    {% endfor %}
    </form>
	<div class="clearBoth"></div>
  </div>
    </div>
 </div>
	 </div>

                <!-- /.col-lg-12 -->

			</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->

 {% endblock %}