{% extends 'target-free-admin-template/base.html' %}
{% load static %}
{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header">
                        <h1 class="page-header">
                            Orders
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Tables</a></li>
					  <li class="active">Data</li>
					</ol>

		</div>

            <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="card">
                        <div class="card-action">
                             Filter By Status
                             <form enctype="multipart/form-data" action = "/vendor/filterorder" method = "GET">
                                                 

                                                 <select class="form-select" name = "query" aria-label="Default select example"> 
                                                  <option value="cancel">cancel</option>
                                                  <option value="follow">follow</option>
                                                   <option value="complete">complete</option>
                                                 
                                                </select>
                                                <button type="submit" class="btn primary-btn">Filter</button>
                                            </form>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Phone</th>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in filter_orders %}
                                        <tr class="odd gradeX">
                                            <td>{{order.firstname}}  {{order.lastname}}</td>
                                            <td>{{order.address}}</td>
                                            <td>{{order.contactnumber}}</td>
                                            <td>{{order.orderinfo}}</td>
                                            <td>{{order.date}}</td>
                                            <td>{{order.total}}</td>
                                            <td>{{order.status}}</td>
                                            <td>
                                                <form enctype="multipart/form-data" action = "/update_order_status/{{order.id}}" method = "POST">
                                                    {% csrf_token %}

                                                 <select class="form-select" name = "action" aria-label="Default select example"> 
                                                  <option value="cancel">cancel</option>
                                                  <option value="follow">follow</option>
                                                   <option value="complete">complete</option>
                                                 
                                                </select>
                                                <button type="submit" class="btn primary-btn pull-right">Update</button>
                                            </form>
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

                <!-- /. ROW  -->


    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
 {% endblock %}