{% extends 'target-free-admin-template/base.html' %}
{% load static %}
{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header">
                        <h1 class="page-header">
                           My Products
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Tables</a></li>
					  <li class="active">Data</li>
					</ol>

		</div>

            <div id="page-inner">

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <label>Search Product</label>
                    <p>
                <form method = "GET" action = "/vendor/product_search">
                    <input type="text" name="query" class="span3"> <button type="submit" class="btn main-btn">Search</button>
                </form>
    <p>
                    <div class="card">
                        
                        <div class="card-action">
                             
                            <h4><center><font color = "red">{% for message in messages %}
            {{message}}
                   {% endfor %}</font></center></h4>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Products</th>
                                            <th>Price</th>
                                            <th>Stock</th>
                                            <th>Image</th>
                                            <th>Category</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in search_query %}
                                        <div class="odd gradeX">
                                            <td>{{product.productname}}</td>
                                            <td>{{product.productprice}}</td>
                                            <td>{{product.productstock}}</td>
                                            <td><div class="center"><img src = "../{{product.productimg.url}}" height = "100" width = "100"></div><a href = "edit_product?pid={{product.id}}"><center>Edit Image</center></a></td>
                                            <td class="center">{{product.categorytype }}</td>
                                            <td class="center"><a href = "edit_product?pid={{product.id}}">Edit</a> &nbsp; <a href = "delete_product?pid={{product.id}}">Delete</a></td>
                                        </tr>
                                        </div>
                                      {% endfor %}



                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>



    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
 {% endblock %}