@mixin image()
    background-position: center
    background-size: cover
    background-repeat: no-repeat

@mixin grid($column)
    display: grid
    grid-template-columns: $column
    grid-gap: 20

@mixin flex($justify)
    display: flex
    justify-content: $justify
    align-items: center
    
.new-items
    padding: 4rem 0
    background-color: #fff

    .swiper-wrapper
        padding: 1rem 0 2rem

    .swiper-slide
        padding: 1rem

    .title
        text-align: left

    .item
        box-shadow: 0 0 16px rgba(#000, .15)
        border-radius: 8px
        overflow: hidden

        .image
            height: 250px
            width: 100%

            .img
                height: 100%
                width: 100%
                @include image()
                background-size: contain

        .details
            padding: 1rem
            
            .name
                font-weight: 500
                font-size: 20px
                margin-bottom: 1rem

        .item-footer
            @include grid($column: 1fr 1fr)

            .left-item
                .price
                    color: #ff4136
                    font-size: 18px
                    font-weight: 700

                .ratings
                    font-size: 14px

                .total-sale
                    color: #6d6d6d

            .right-item
                @include flex($justify: flex-end)
                align-items: flex-end
                
                @include grid($column: 1fr 2fr)
                
                .add-to-cart
                    height: 30px
                    width: 30px
                    @include flex($justify: center)
                    border: 1px solid #bfbfbf
                    cursor: pointer

                .view
                    height: 30px
                    width: 100%
                    @include flex($justify: center)
                    cursor: pointer
                    border: 1px solid #bfbfbf
                    background-color: #ffffff
                    transition: .4s
                    
                    &:hover
                        background-color: #ff4136
                        color: #ffffff

                    

                
            
            
                

