.new-items {
  padding: 4rem 0;
  background-color: #fff;
}

.new-items .swiper-wrapper {
  padding: 1rem 0 2rem;
}

.new-items .swiper-slide {
  padding: 1rem;
}

.new-items .title {
  text-align: left;
}

.new-items .item {
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}

.new-items .item .image {
  height: 250px;
  width: 100%;
}

.new-items .item .image .img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.new-items .item .details {
  padding: 1rem;
}

.new-items .item .details .name {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 1rem;
}

.new-items .item .item-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20;
}

.new-items .item .item-footer .left-item .price {
  color: #ff4136;
  font-size: 18px;
  font-weight: 700;
}

.new-items .item .item-footer .left-item .ratings {
  font-size: 14px;
}

.new-items .item .item-footer .left-item .total-sale {
  color: #6d6d6d;
}

.new-items .item .item-footer .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 20;
}

.new-items .item .item-footer .right-item .add-to-cart {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #bfbfbf;
  cursor: pointer;
}

.new-items .item .item-footer .right-item .view {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.new-items .item .item-footer .right-item .view:hover {
  background-color: #ff4136;
  color: #ffffff;
}
/*# sourceMappingURL=my-styles.css.map */