{% extends 'target-free-admin-template/base.html' %}
{% load static %}
{% block content %}
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
		  <div class="header">
                        <h1 class="page-header">
                             Add Products
                        </h1>
               <h4><center><font color = "green">
                {% if messages %}
                {% for message in messages %}
            {{message}}
                   {% endfor %}
                 {% endif %}</font></center></h4>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">Product</a></li>
					  <li class="active">Add</li>
					</ol>

		</div>

            <div id="page-inner">
			 <div class="row">
			 <div class="col-lg-12">
			 <div class="card">
                        <div class="card-action">
                            Product Details
                        </div>
                        <div class="card-content">
                         

<div>
    <h2>Add Product</h2>
    <p><br>
    <form enctype="multipart/form-data" action = "/vendor/add_image" method = "POST">
      {% csrf_token %}
      <p>
    
    
    <label>Product Img</label>
    <input type="file" name="image1" class="span3" ><p>
    <input type="file" name="image2" class="span3" ><p>
    <input type="file" name="image3" class="span3" ><p>
    <input type="file" name="image4" class="span3" ><p>
    <input name = "vendor_user_name" type = "hidden" value = "{{user.username}}" required>
    <br><br><br>
    <button type="submit" class="btn main-btn pull-left">Add Image</button>
    
    <div class="clearfix"></div>
    </form>
</div>

    
        </div>

   

	<div class="clearBoth"></div>
  </div>
    </div>
 </div>
	 </div>

                <!-- /.col-lg-12 -->

			</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->

 {% endblock %}