<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>E-Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="{% static 'image/x-icon' %}" href='{% static "images/favicon.ico" %}'>
    <link rel="apple-touch-icon" href='{% static "apple-touch-icon.png" %}'>
    
    <!-- Bootstrap Fremwork Main Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- All Plugins css -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- User style -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- my-styles-css -->
    <link rel="stylesheet" href="{% static 'css/my-styles.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    
    <!-- Link Swiper's CSS -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-6">
                            <div class="logo">
                                <a href="/">
                                    <img src='{% static "images/logo/uniqlo.png" %}' alt="logo" >
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 d-none d-md-block">
                            <nav class="mainmenu__nav  d-none d-lg-block">
                                <ul class="main__menu">
                                    <li class="drop"><a href="/">Home</a>
                                    </li>
                                                                           
                                    </li>
                                    <li class="drop"><a href="{% url 'shop' %}">Shop</a>
                                    </li>
                                    <!-- {% if user.is_authenticated %}
                                    <li class="drop"><a href="#">Profile</a>
                                        <ul class="dropdown">
                                            <li><a href="shop">shop</a></li>
                                            {% if user.is_authenticated %}<li><a href="viewcart">cart</a></li>
                                            {% else %}
                                            <li><a href="signup_or_signin">cart</a></li>
                                            {% endif %}
                                           <li><a href="viewwish">wishlist</a></li>
                                            {% if user.is_authenticated %}<li><a href="checkoutview">checkout</a></li>
                                             {% else %}
                                            <li><a href="signup_or_signin">checkout</a></li>
                                            {% endif %}
                                            {% if user.is_active %}
                                            <li><a href="logout">logout</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li></li>
                                    {% endif %} -->
                                    <li><a href="contact">contact</a></li>
                            {% if user.is_active %}
							<li><a href="logout">logout</a></li>
                            <li>{% if user.is_authenticated %}<a href="#"></a>{% endif %}</li>
							{% else %}
                            <li><a href="{% url 'signup_or_signin' %}">login</a></li>
                            <li><a href="{% url 'vendor:login' %}">vendor login</a></li>
                            <li><a href="{% url 'vendor:signup' %}">vendor Signup</a></li>
						{% endif %}
                                </ul>
                            </nav>
                            
                            <div class="mobile-menu clearfix d-block d-lg-none">
                                <nav id="mobile_dropdown" style="color:#ef0707;">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="about">About</a></li>
                                        <li><a href="blog">blog</a></li>
                                         <li><a href="shop">shop</a></li>
                                        <li><a href="#">profile</a>
                                            <ul>
                                                <li><a href={% if user.is_authenticated %}"cart"{% else %}"signup_or_signin"{% endif %}>cart</a></li>
                                                {% if user.is_authenticated %}<li><a href="viewwish">wishlist</a></li>{% endif %}
                                                {% if user.is_authenticated %}<li><a href="checkout">checkout</a></li>{% endif %}
                                                 {% if user.is_active %}
                                            <li><a href="logout">logout</a></li>
                                            {% else %}
                                            <li><a href="signup_or_signin">login & register</a></li>
                                            {% endif %}
                                            </ul>
                                        </li>
                                        <li><a href="contact">contact</a></li>
                                    </ul>
                                </nav>
                            </div>  
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-lg-2 col-6">  
                            <ul class="menu-extra">
                                <li class="search search__open d-none d-sm-block"><span class="ti-search"></span></li>
                                {% if user.is_active %}<li><a href="#"><span class="ti-user"></span></a></li>
                                {% else %}<li><a href="#"><span class="ti-user"></span></a></li>
                                {% endif %}
                                {% if user.is_active %}
                                <li><a href="viewcart"><span class="ti-shopping-cart"></span>Cart</a></li>
                                {% else %}
                                <li><a href="signup_or_signin"><span class="ti-shopping-cart"></span></a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->
        
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">

                                <form action="searchview" method = "GET">
                                    <input placeholder="Search here... " type="text" name = "query">
                                    <button type="submit"></button>
                                </form>

                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
          
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Slider Area -->
        {% block indexslide %}
        <div class="slider__container slider--one">
            <div class="slider__activation__wrap owl-carousel owl-theme">
            
                <!-- Start Single Slide -->
                <div class="slide slider__full--screen" style='background: rgba(0, 0, 0, 0) url("{% static 'images/slider/bg/index2.jpg' %}") no-repeat scroll center center / cover ;'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                <div class="slider__inner">
                                    <h1>New Product <span class="text--theme">Collection</span></h1>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="shop">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__full--screen" style='background: rgba(0, 0, 0, 0) url("{% static 'images/slider/bg/index1.jpg' %}") no-repeat scroll center center / cover ;'>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                <div class="slider__inner">
                                    <h1>New Product <span class="text--theme">Collection</span></h1>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="shop">shop now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
                
            </div>
        </div>
        {% endblock %}

        {% block body%}{% endblock %}

         <!-- Start Footer Area -->
        <footer class="htc__foooter__area" style='background: rgb(255, 246, 126) '>
            <div class="container">
                <div class="row footer__container clearfix">
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-3 col-sm-6">
                        <div class="ft__widget">
                            <div class="ft__logo">
                                <a href="index.html">
                                    <img src="{% static 'images/logo/uniqlo.png' %}" alt="footer logo">
                                </a>
                            </div>
                            <div class="footer__details">
                                <p>Get 10% discount with notified about the latest news and updates.</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-3 col-sm-6 smb-30 xmt-30">
                        
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-3 col-sm-6 smt-30 xmt-30">
                        
                    </div>
                    <!-- End Single Footer Widget -->
                    <!-- Start Single Footer Widget -->
                    <div class="col-md-6 col-lg-2 lg-offset-1 col-sm-6 smt-30 xmt-30">
                        
                    </div>
                    <!-- End Single Footer Widget -->
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright">
                                    <p>© 2021 <a href="#" target="_blank">Deepminds Pvt. Ltd.</a>
                                    All Right Reserved.</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <!-- Body main wrapper end -->
    <!-- Placed js at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Bootstrap Framework js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All js plugins included in this file. -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>

</html>