{% extends 'base.html' %}
{% load static %}
{% block indexslide %}{% endblock %}

{% block body %}
<br><br><br><br>

        <!-- Start Login Register Area -->
        
        <div class="htc__login__register bg__white ptb--130" style='background: rgba(0, 0, 0, 0) url("{% static 'images/bg/back.jpg' %}") no-repeat scroll center center / cover ;'>
            <div class="container">
                <div class="row">
                    
                </div>
                 {% for message in messages %}
                            <div align="center">
                                    <div>
                                        <p><font color = 'red'> {{message}}<</p>
                                    </div>
                                </div>
                {% endfor %}
                <!-- Start Login Register Content -->
                <div class="row tab-content">

                    <div class="col-md-6  ml-auto mr-auto">
                         <center><h2>Forget Password</h2></center>
                        <div class="htc__login__register__wrap">
                            <!-- Start Single Content -->
                           
                        <div id="login" role="tabpanel" class="single__tabs__panel tab-pane active">

                                <form class="login" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="code" name="codes">
                                    <input type="password" placeholder="new password" name="password">
                                    <input type="password" placeholder="Confirm  password" name="cpassword">
                                    <input type="submit"  class="btn btn-primary active" name="submit" id="submit" value="Login">
                                
                                </form>

                            </div>
                            <!-- End Single Content -->
                            <!-- Start Single Content -->
                            
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
        <!-- End Login Register Area -->
        {% endblock %}