{% extends 'base.html' %}
{% load static %}
{% block indexslide %}
    
        {% endblock %}
        {% block body %}
        <!-- Start Checkout Area -->
        <section class="our-checkout-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="ckeckout-left-sidebar">
                            <!-- Start Checkbox Area -->
                            <form action='checkout' method="POST">
                            {% csrf_token %} 
                            <div class="checkout-form">
                                <h2 class="section-title-3">Billing details</h2>
                                
                                {% if messages %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for message in messages %}
                                        <li>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                                    
                                <div class="checkout-form-inner">
                                    <div class="single-checkout-box">
                                        <input type="text" placeholder="First Name*" name="c_fname">
                                        <input type="text" placeholder="Last Name*" name="c_lname">
                                    </div>
                                    <div class="single-checkout-box">
                                        <input type="email" placeholder="Email*" name="c_email">
                                        <input type="text" placeholder="Phone*" name="c_contact">
                                    </div>
                                    <div class="single-checkout-box">
                                        <textarea placeholder="Message*" name="c_msg"></textarea>
                                    </div>
                    
                                    <div class="single-checkout-box">
                                        <input type="text" placeholder="Address*" name="c_address">
                                    </div>
                                </div>
                            </div>
                            <!-- End Checkbox Area -->
                            <!-- Start Payment Box -->
                            <div class="payment-form">
                                <h2 class="section-title-3">Total</h2>
                                <h3 class="section-title-3">{{carttotaldetail}}</h3>
                                
                            </div>
                            <div class="wc-proceed-to-checkout">
                                            <input type="submit" value="Checkout">
                                        </div>
                            <!-- End Payment Box -->
                        </form>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="checkout-right-sidebar">
                            <div class="our-important-note">
                                <h2 class="section-title-3">Note :</h2>
                                <p class="note-desc">Please read our rules and regulations</p>
                                <ul class="important-note">
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Provide real address and Contact No:</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Do not Share OTP with other</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>You can return damage products under 7 days</a></li>
                                    <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>You have service to make COD</a></li>
                                </ul>
                            </div>
                            <div class="puick-contact-area mt--60">
                                <h2 class="section-title-3">Quick Contract</h2>
                                <a href="phone:+8801722889963">+977-9840000000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Checkout Area -->
        {% endblock %}