{% extends 'base.html' %}
{% load static %}
{% block body %}

        <!-- Start Slider Area -->
        <!-- Start Our Product Area -->
        {% if products|length > 0  %}
        <section class="htc__product__area ptb--130 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <div class="title">
                        <h1 style="text-align: center; margin-bottom: 2rem">Hot Product</h1>
                    </div>
                    <!-- Start Product MEnu -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                                <button data-filter="*"  class="is-checked">All</button>
                                {% for type in types %}
                                <button data-filter=".{{type.category}}">{{type.category}}</button>
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                    <!-- End Product MEnu -->
                    <div class="row product__list">
                    {% for product in products %}
                        <!-- Start Single Product -->
                        <div class="col-md-3 single__pro col-lg-3 col-md-4 {{product.categorytype}} col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a href="productdetail?pid={{product.id}}">
                                            <img src="{{product.productimg.url}}" height = "200"  alt="product images">
                                            
                                        </a>
                                    </div>
                                    <div class="product__hover__info">
                                        <ul class="product__action">
                                            <li><a data-toggle="modal" data-target="#{{product.id}}" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                            <li><a title="Add TO Cart" href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}><span class="ti-shopping-cart"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="add__to__wishlist">
                                        <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href={% if user.is_authenticated %}"wishlist?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}><span class="ti-heart"></span></a>
                                    </div>
                                </div>
                                <div class="product__details">
                                    <h2><a href="productdetail?pid={{product.id}}">{{product.productname}}</a></h2>
                                    <ul class="product__price">
                                        <li class="new__price">${{product.productprice}}</li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                        <!-- End Single Product -->
                         <!-- QUICKVIEW PRODUCT -->
                        <div id="quickview-wrapper">
                            <!-- Modal -->
                            <div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal__container" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header modal__header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-product">
                                                <!-- Start product images -->
                                                <div class="product-images">
                                                    <div class="main-image images">
                                                        <img alt="big images" src="{{product.productimg.url}}">
                                                    </div>
                                                </div>
                                                <!-- end product images -->
                                                <div class="product-info">
                                                    <h1>{{product.productname}}</h1>
                                                
                                                    <div class="price-box-3">
                                                        <div class="s-price-box">
                                                            <span class="new-price">${{product.productprice}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="quick-desc">
                                                                    {{product.productdescription|safe}}                                
                                                    </div>
                                                    <div class="addtocart-btn">
                                                        <a href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}>Add to cart</a>
                                                    </div>
                                                </div><!-- .product-info -->
                                            </div><!-- .modal-product -->
                                        </div><!-- .modal-body -->
                                    </div><!-- .modal-content -->
                                </div><!-- .modal-dialog -->
                            </div>
                            <!-- END Modal -->
                        </div>
                        <!-- END QUICKVIEW PRODUCT -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% if top|length > 0 %}
        <section class="htc__product__area ptb--130 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <div class="title">
                        <h1 style="text-align: center; margin-bottom: 2rem">Top Product</h1>
                    </div>
                    <!-- Start Product MEnu -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                                <button data-filter="*"  class="is-checked">All</button>
                                {% for type in types %}
                                <button data-filter=".{{type.category}}">{{type.category}}</button>
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                    <!-- End Product MEnu -->
                    <div class="row product__list">
                    {% for product in top %}
                        <!-- Start Single Product -->
                        <div class="col-md-3 single__pro col-lg-3 col-md-4 {{product.categorytype}} col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a href="productdetail?pid={{product.id}}">
                                            <img src="{{product.productimg.url}}" height = "200" alt="product images">
                                            
                                        </a>
                                    </div>
                                    <div class="product__hover__info">
                                        <ul class="product__action">
                                            <li><a data-toggle="modal" data-target="#{{product.id}}" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                            <li><a title="Add TO Cart" href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}><span class="ti-shopping-cart"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="add__to__wishlist">
                                        <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href={% if user.is_authenticated %}"wishlist?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}><span class="ti-heart"></span></a>
                                    </div>
                                </div>
                                <div class="product__details">
                                    <h2><a href="productdetail?pid={{product.id}}">{{product.productname}}</a></h2>
                                    <ul class="product__price">
                                        <li class="new__price">${{product.productprice}}</li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                        <!-- End Single Product -->
                         <!-- QUICKVIEW PRODUCT -->
                        <div id="quickview-wrapper">
                            <!-- Modal -->
                            <div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal__container" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header modal__header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-product">
                                                <!-- Start product images -->
                                                <div class="product-images">
                                                    <div class="main-image images">
                                                        <img alt="big images" src="{{product.productimg.url}}" >
                                                    </div>
                                                </div>
                                                <!-- end product images -->
                                                <div class="product-info">
                                                    <h1>{{product.productname}}</h1>
                                                
                                                    <div class="price-box-3">
                                                        <div class="s-price-box">
                                                            <span class="new-price">${{product.productprice}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="quick-desc">
                                                                    {{product.productdescription|safe}}                                
                                                    </div>
                                                    <div class="addtocart-btn">
                                                        <a href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}>Add to cart</a>
                                                    </div>
                                                </div><!-- .product-info -->
                                            </div><!-- .modal-product -->
                                        </div><!-- .modal-body -->
                                    </div><!-- .modal-content -->
                                </div><!-- .modal-dialog -->
                            </div>
                            <!-- END Modal -->
                        </div>
                        <!-- END QUICKVIEW PRODUCT -->
   
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        {% if new|length > 0 %}
        <section class="htc__product__area ptb--130 bg__white">
            <div class="container">
                <div class="htc__product__container">
                    <div class="title">
                        <h1 style="text-align: center; margin-bottom: 2rem">New Product</h1>
                    </div>
                        
                    <!-- Start Product MEnu -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="product__menu">
                                <button data-filter="*"  class="is-checked">All</button>
                                {% for type in types %}
                                <button data-filter=".{{type.category}}">{{type.category}}</button>
                                {% endfor%}
                            </div>
                        </div>
                    </div>
                    <!-- End Product MEnu -->
                    <div class="row product__list">
                    {% for product in new %}
                        <!-- Start Single Product -->
                        <div class="col-md-3 single__pro col-lg-3 col-md-4 {{product.categorytype}} col-sm-12">
                            <div class="product foo">
                                <div class="product__inner">
                                    <div class="pro__thumb">
                                        <a href="productdetail?pid={{product.id}}">
                                            <img src="{{product.productimg.url}}" height = "200" alt="product images">
                                            
                                        </a>
                                    </div>
                                    <div class="product__hover__info">
                                        <ul class="product__action">
                                            <li><a data-toggle="modal" data-target="#{{product.id}}" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                                            <li><a title="Add TO Cart" href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}><span class="ti-shopping-cart"></span></a></li>
                                        </ul>
                                    </div>
                                    <div class="add__to__wishlist">
                                        <a data-toggle="tooltip" title="Add To Wishlist" class="add-to-cart" href={% if user.is_authenticated %}"wishlist?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}><span class="ti-heart"></span></a>
                                    </div>
                                </div>
                                <div class="product__details">
                                    <h2><a href="productdetail?pid={{product.id}}">{{product.productname}}</a></h2>
                                    <ul class="product__price">
                                        <li class="new__price">${{product.productprice}}</li>
                                    </ul>
                                </div> 
                            </div>
                        </div>
                        <!-- End Single Product -->
                         <!-- QUICKVIEW PRODUCT -->
                        <div id="quickview-wrapper">
                            <!-- Modal -->
                            <div class="modal fade" id="{{product.id}}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal__container" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header modal__header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="modal-product">
                                                <!-- Start product images -->
                                                <div class="product-images">
                                                    <div class="main-image images">
                                                        <img alt="big images" src="{{product.productimg.url}}">
                                                    </div>
                                                </div>
                                                <!-- end product images -->
                                                <div class="product-info">
                                                    <h1>{{product.productname}}</h1>
                                                
                                                    <div class="price-box-3">
                                                        <div class="s-price-box">
                                                            <span class="new-price">${{product.productprice}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="quick-desc">
                                                                    {{product.productdescription|safe}}                                
                                                    </div>
                                                    <div class="addtocart-btn">
                                                        <a href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}>Add to cart</a>
                                                    </div>
                                                </div><!-- .product-info -->
                                            </div><!-- .modal-product -->
                                        </div><!-- .modal-body -->
                                    </div><!-- .modal-content -->
                                </div><!-- .modal-dialog -->
                            </div>
                            <!-- END Modal -->
                        </div>
                        <!-- END QUICKVIEW PRODUCT -->
   
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!-- End Our Product Area -->

        <section>
            {% for type in types %}
            <div class="new-items">
                <div class="title">
                    <h1 style="text-align: center; margin-bottom: 2rem">{{type.category}}</h1>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="swiper mySwiper">
                                <div class="swiper-wrapper">
                                    {% for product in products %}
                                    {% if product.categorytype_id == type.id %}
                                  <div class="swiper-slide">
                                      <div class="item">
                                          <div class="image">
                                              <div class="img" style="background-image: url({{product.productimg.url}});"></div>
                                          </div>
                                          <div class="details">
                                            <h3 class="name">{{product.productname}}</h3>                                          

                                          <div class="item-footer">
                                              <div class="left-item">
                                                  <div class="price">{{product.productprice}}</div>
                                                  <div class="ratings"><div class="stars" data-value="2"></div></div>
                                                 
                                              </div>
                                              <div class="right-item">
                                                <a href={% if user.is_authenticated %}"cart?pid={{product.id}}"{% else %}"signup_or_signin"{% endif %}>
                                                  <div class="add-to-cart">🛒</div></a>
                                                  <a href="productdetail?pid={{product.id}}">
                                                    <button class="view">View</button>
                                                  </a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                                  {% endif %}
                                {% endfor %}
                                
                                  
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          640: {
            slidesPerView: 1,
            spaceBetween: 1,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 1,
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 1,
          },
        },
      });
    </script>

<script>
    const stars = document.querySelectorAll('.stars');

    const fullStar = `
  <svg
        width="17"
        height="15"
        viewBox="0 0 17 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.54896 0.927053C7.84831 0.00574255 9.15172 0.00574017 9.45107 0.927051L10.5588 4.33631C10.6927 4.74834 11.0766 5.0273 11.5099 5.0273H15.0946C16.0633 5.0273 16.4661 6.26691 15.6824 6.83631L12.7823 8.94335C12.4318 9.198 12.2851 9.64937 12.419 10.0614L13.5267 13.4706C13.8261 14.392 12.7716 15.1581 11.9879 14.5887L9.0878 12.4816C8.73732 12.227 8.26272 12.227 7.91223 12.4816L5.01214 14.5887C4.22843 15.1581 3.17395 14.392 3.4733 13.4707L4.58103 10.0614C4.71491 9.64937 4.56825 9.198 4.21776 8.94336L1.31767 6.83632C0.533959 6.26691 0.936732 5.0273 1.90546 5.0273H5.49017C5.92339 5.0273 6.30735 4.74834 6.44122 4.33631L7.54896 0.927053Z"
          fill="#E28800"
        />
      </svg>
`;

    const blankStar = `
  <svg
          width="16"
          height="15"
          viewBox="0 0 16 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.18947 1.08156C7.33914 0.620903 7.99085 0.620908 8.14052 1.08156L9.24826 4.49082C9.44907 5.10886 10.025 5.5273 10.6748 5.5273H14.2596C14.7439 5.5273 14.9453 6.14711 14.5535 6.4318L11.6534 8.53885C11.1276 8.92081 10.9076 9.59786 11.1084 10.2159L12.2162 13.6252C12.3659 14.0858 11.8386 14.4689 11.4468 14.1842L8.54667 12.0771C8.02094 11.6952 7.30905 11.6952 6.78332 12.0771L3.88323 14.1842C3.49137 14.4689 2.96413 14.0858 3.1138 13.6252L4.22154 10.2159C4.42235 9.59787 4.20236 8.92081 3.67663 8.53885L0.776543 6.43181C0.384683 6.1471 0.586076 5.5273 1.07043 5.5273H4.65515C5.30498 5.5273 5.88092 5.10886 6.08173 4.49082L7.18947 1.08156Z"
            stroke="#8D8D8D"
          />
        </svg>
`;

    stars.forEach((star, index) => {
      let value = star.dataset.value;
      let allStars = [];

      for (let i = 0; i < value; i++) {
        allStars.push(fullStar);
      }

      for (let j = 0; j < 5; j++) {
        if (allStars.length != 5) {
          allStars.push(blankStar);
        }
      }

      stars[index].innerHTML =
        allStars[0] + allStars[1] + allStars[2] + allStars[3] + allStars[4];
    });
  </script>
{% endblock %}