{% extends 'base.html' %}
{% load static %}
{% block indexslide %}{% endblock %}

{% block body %}
<br><br><br><br>

        <!-- Start Login Register Area -->
        
        <div class="htc__login__register bg__white ptb--130" style='background: rgba(0, 0, 0, 0) url("{% static 'images/bg/back.jpg' %}") no-repeat scroll center center / cover ;'>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <ul class="login__register__menu nav justify-contend-center" role="tablist">
                            <li role="presentation" class="login active"><a class="active" href="#login" role="tab" data-toggle="tab">Login</a></li>
                            <li role="presentation" class="register"><a href="{% url 'registration' %}">Register</a></li>
                        </ul>
                    </div>
                </div>
                 {% for message in messages %}
                            <div align="center">
                                    <div>
                                        <p><font color = "red">{{message}}</font></p>
                                    </div>
                                </div>
                {% endfor %}
                <!-- Start Login Register Content -->
                <div class="row tab-content">
                    <div class="col-md-6  ml-auto mr-auto">
                        <div class="htc__login__register__wrap">
                            <!-- Start Single Content -->
                            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane active">
                                <form action="{% url 'signup_or_signin' %}" class="login" method="POST">
                                {% csrf_token %}
                                    <input type="text" placeholder="User Name*" name="lname">
                                    <input type="password" placeholder="Password*" name="lpass">
                                    <input type="submit"  class="btn btn-primary active" name="submit" id="submit" value="Login">
                                <span class="forget"><a href="/forgetpassword">Forget Pasword?</a></span>
                                &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;
                                &nbsp;<span class="forget"><a href="{% url 'vendor:login' %}">Login as Vendor</a></span>
                                </form>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
        <!-- End Login Register Area -->
        {% endblock %}