{% extends 'base.html' %}
{% load static %}
{% block indexslide %}
        
        {% endblock %}
        {% block body %}
        <div class="cart-main-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-12">
                        {% if messages %}
                        <div class="alert alert-primary">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-price">Product</th>
                                            <th class="product-price">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for  value in userorder %}
                                       <tr>
                                            <td class="product-name">{{value.orderinfo}}</td>
                                            <td class="product-name">{{value.total}}</td>

                                        </tr>   
                                          
                                    {% endfor %}
                                
                                    
                                    
                                    </tbody>
                                </table>
                            </div>
                
                            <div class="row">
                            <div class="col-md-8 col-sm-12">
                                    <
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="buttons-cart">
                                        <a href="shop">Homepage</a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 ">
                                    <div class="cart_totals">
                                        
                                       
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
       
        <!-- cart-main-area end -->

        {% endblock %}
