{% extends 'base.html' %}
{% load static %}
{% block indexslide %}{% endblock %}

{% block body %}
<br><br><br><br>

        <!-- Start Login Register Area -->
        
        <div class="htc__login__register bg__white ptb--130" style='background: rgba(0, 0, 0, 0) url("{% static 'images/bg/back.jpg' %}") no-repeat scroll center center / cover ;'>
            <div class="container">
                 {% for message in messages %}
                            <div align="center">
                                    <div>
                                        <p><font color = "red">{{message}}</font></p>
                                    </div>
                                </div>
                {% endfor %}
                <!-- Start Login Register Content -->
                <div class="row tab-content">
                    <div class="col-md-6  ml-auto mr-auto">
                        <div class="htc__login__register__wrap">
                            <h3 class="text-primary">Register</h3>
                            <h3 class="text-primary">Already have an account <a href="{% url 'signup_or_signin' %}">Login</a></h3>
                            <!-- Start Single Content -->
                            <form action="{% url 'registration' %}" class="login" method="POST">
                                {% csrf_token %}
                                <input type="text" placeholder="Name*" name="uname">
                                <input type="email" placeholder="Email*" name="uemail">
                                <input type="password" placeholder="Password*" name="upassword">
                                <input type="password" placeholder="Confirm Password*" name="re_password">
                                <input type="submit"  class="btn btn-primary active" name="submit" id="submit" value="Register">
                                <center><span class="forget"><a href="{% url 'vendor:signup' %}">Register as Vendor</a></span></center>
                            </form>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
        <!-- End Login Register Area -->
        {% endblock %}