{% extends 'base.html' %}
{% load static %}
{% block indexslide %}
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style='background: rgba(0, 0, 0, 0) url("{% static 'images/bg/new2.jpg' %}") no-repeat scroll center center / cover ;'>
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Wishlist</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/">Home</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Wishlist</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        {% endblock %}
    {% block body %}
        <!-- wishlist-area start -->
        <div class="wishlist-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="wishlist-content">
                            <form action="#">
                                <div class="wishlist-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-remove"><span class="nobr">Remove</span></th>
                                                
                                                <th class="product-name"><span class="nobr">Product Name</span></th>
                                                <th class="product-price"><span class="nobr"> Unit Price </span></th>
                                                <th class="product-stock-stauts"><span class="nobr"> Stock Status </span></th>
                                                <th class="product-add-to-cart"><span class="nobr">Add To Cart</span></th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                        {% for wishes in wishdetail %}
                                            <tr>
                                                <td class="product-remove"><a href="deletewish/{{wishes.wishid}}">×</a></td>
                                                <td class="product-name"><a href="#">{{wishes.productwish}}</a></td>
                                                <td class="product-price"><span class="amount">Rs{{wishes.wishprice}}</span></td>
                                                <td class="product-stock-status"><span class="wishlist-in-stock">{{wishes.wishstatus}}</span></td>
                                                <td class="product-add-to-cart"><a href={% if user.is_active %}"cart?pid={{wishes.wishid}}"{% else %}"signup_or_signin"{% endif %}"> Add to Cart</a></td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                        
                                        <tfoot>
                                            <tr>
                                                
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wishlist-area end -->
        {% endblock %}